/*styling page for turing_tribute.html.  Part of FreeCodeCamp Web Dev course.*/

html {
  font-size: 15px;
}

body {
  font-family: sans-serif;
  font-size: 1.4rem;
  line-height: 1.5;
  text-align: center;
  color: #333;
  margin: 0;
  background-color:#E0D9D7;
}

h1 {
  font-size: 3.5rem;
  margin-bottom: 0;
}

@media (max-width: 460px) {
  h1 {
    font-size: 3.5rem;
    line-height: 1.2;
  }
}

h2 {
  font-size: 2.9rem;
}

a {
  color: #477ca7;
}

a:visited {
  color: #74638f;
}

#main {
  margin: 30px 8px;
  padding: 15px;
  border-radius: 5px;
  background: #eee;
}

@media (max-width: 460px) {
  #main {
    margin: 0;
  }
}

img {
  max-width: 65%;
  display: block;
  height: auto;
  margin: 0 auto;
  border-color: black;
}

#img-div {
  background: white;
  padding: 10px;
  margin: 0;
}

#img-caption {
  margin: 15px 0 5px 0;
}

@media (max-width: 460px) {
  #img-caption {
    font-size: 1.4rem;
  }
}

#headline {
  margin: 50px 0;
  text-align: center;
}

ul {
  max-width: 70%;
  margin: 0 auto 50px auto;
  text-align: left;
  line-height: 1.6;
}

li {
  margin: 16px 0;
}

blockquote {
  font-style: italic;
  max-width: 80%;
  margin: 0 auto 50px auto;
  text-align: left;
}